body{
    background-color: cadetblue;
}
input{
    background-color:aqua;
    color:purple;
    position:absolute;
    left:70%;
    display:inline;
    
    
    
}
button{
    background-color:burlywood;
    color:blue;
    position:absolute;
    left:90%;
    display:inline;
    
    
    

}
.lol { color: blue; 
position:absolute;
left:17%;
display:inline}
.redd { color: rgb(255, 0, 0); 
    position:absolute;
    left:25%;
    display:inline;
}
.gg { color:purple; 
position:absolute;
left:40%;
display:inline;}
.bluee { color:green; 
position:absolute;
left:49%;
display:inline;}

img{
    padding-right:10%;

}

.jeans3{
    position:absolute;
    left:70%;
}

.jeans2{
    position:absolute;
    left:40%;
}

.jeans1{
    position:absolute;
    left:10%;
}

.nav{
    background-color:black;
    height:46px;
}

.cart{
    height:40px;
    position:absolute;
    left:5%;
    display:inline;
}